<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/style.css">
    <title>Desenvolvedores</title>
</head>
<body id="FundoHome">
    <header id="navbar">
        <nav class="links">
            <a href="Home.html" class="TextMenu"><strong>HOME</strong></a>
            <a href="google.com" class="TextMenu"><strong>QUIZ</strong></a>
            <a href="google.com" class="TextMenu"><strong>ADIVINHA IMAGENS</strong></a>
            <a href="google.com" class="TextMenu"><strong>ADIVINHA NÚMEROS</strong></a>
            <a href="Desenvolvedores.html" class="TextMenu"><strong>DESENVOLVEDORES</strong></a>
        </nav>
    </header>
    
    <main id="main">
        <h1 class="TextMenuCenter">CARROSEL DE IMAGENS</h1>
    </main>
</body>
</html>